@import 'config'

.container 
    background rgb(255,250,130)
    display flex
    justify-content center
    align-items center
    width 100vw
    height 100vh
.presentation
    font-family: Montserrat, sans-serif
    color rgb(25,17,77)
    h1
        font-size 30px
        margin 20px 0px
    p
        margin: 10px 0px
    a
        text-decoration: none
        color: inherit
        border-bottom: 1px solid rgb(25,17,77)
        padding 0 0 2px 0
        transition padding 0.2s 
        &:hover
            padding 0 0 4px 0
            color: grey

