@font-face
    font-family 'Heboo'
    src url('../fonts/heboo-bold.woff2') format('woff2')
    font-weight 600
    font-style normal
body
    background pink
h1
    font-family 'Heboo'
.image
    width 500px
    height 300px
    background-image url('../images/image.jpg')
