@import 'config'

body 
    background rgb(255,250,130)

.presentation
    display flex
    flex-direction column
    justify-content center
    align-items center
    width 100vw
    height 100vh
    h1
        font-size 30px
        font-family: Montserrat, sans-serif
        color rgb(25,17,77)
    p
        color: red
